.mainDiv {
  justify-content: center;

  text-align: center;
  width: 564px;
  height: 583px;
  background: white;
  border-radius: 10px;
}
h1 {
  color: #4c57b6;
  font-size: 40px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
input {
  margin: 1rem;
  width: 450px;
  height: 54px;
  background: white;
  border-radius: 5px;
  border: 1px #e2e2e2 solid;
}
.mainContainer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
}
#signUpButton {
  width: 450px;
  height: 54px;
  background-color: #4c57b6;
  border: #4c57b6;
  margin: 1rem;
  color: white;
  font-size: 15px;

  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
h2 {
  opacity: 0.6;
  text-align: center;
  color: black;
  font-size: 15px;
  /* font-family: Open Sans; */
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
h3 {
  text-align: center;
  color: #352d66;
  font-size: 18px;

  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
